<div class="home-container">

    <div
        (mouseenter)="isHelpOpen = !isHelpOpen" 
        (mouseleave)="isHelpOpen = !isHelpOpen" 
        class="help-container">
        <span *ngIf="!isHelpOpen">
            ?
        </span>
        <span style="font-size: .8rem" *ngIf="isHelpOpen">
            ¡También podes buscar por álbum musical o por la letra de la canción!
        </span>
    </div>
    <div class="default-container input-container">
        <input 
            placeholder="Por ejemplo: 'justo que pensaba en vos nena'" 
            type="text" 
            [(ngModel)]="search"
            (ngModelChange)="onInputChange($event)"
            />
        <button 
            class="btn btn-2 btn-transparent" 
            (click)="onClickSearch()">
            Buscar
        </button>
    </div>

    <div class="default-container list-container">

        <ul>
            <li class="sug-info"
                *ngFor="let sug of suggestions"
                [routerLink]="['/', sug.href]"
                >
                {{ sug.text }}
            </li>
        </ul>

    </div>

    <div class="default-container more-container">
        <button 
            class="btn btn-2 btn-transparent" 
            [disabled]="!search || search.length <= 0"
            (click)="onClickMore()">
            +
        </button>
    </div>

</div>