.home-container {
    display: flex;

    .login-container {
        display: flex;
        flex-direction: column;
        // margin-right: 20px;
        margin: 20px;

        > input {
            margin-bottom: 10px;
        }
    }

    .btn-favorite {
        font-size: 2.5rem;
        color: #343a40;
        margin-left: 5px;
        cursor: pointer;

        display: flex;
        flex-direction: column;
    }


    .menu-container {
        min-width: 27%;
        font-size: .9rem;
        margin-top: 2px;
        z-index: 1;

        .favorites-container {

            > ul {
                list-style: none;
                padding-left: 0;
                margin:0;
                > li {
                    cursor: pointer;
                    
                    display: flex;
                    justify-content: space-between;
                    font-weight: 600;
                    padding: 11px 15px;

                    background: #343a40;
                    color: #fff;
                }
                > li:nth-child(even) {
                    color: #343a40;
                    background: #fff;
                }
            }
        }


        .favorites-container-canciones > ul {
            > li {
                display: flex;
                flex-direction: column;

                > ul {
                    list-style: none;
                    padding-left: 0;
                    margin: 7px 0px;

                    // > :first-child {
                    //     border-top: solid 2px #343a40;
                    // }

                    // > :last-child {
                    //     border-bottom: solid 2px #343a40;
                    // }

                    font-size: .7rem;
                    > li {
                        cursor: pointer;
                        
                        display: flex;
                        justify-content: space-between;
                        font-weight: 600;
                        padding: 5px 6px;

                        color: #343a40;
                        background: #fff;

                        
                        // border-left: solid 2px #343a40;
                        // border-right: solid 2px #343a40;
                    }
                    > li:nth-child(even) {
                        background: #343a40;
                        color: #fff;
                    }
                }
            }
        }
    }

    .content-container {
        width: 100%;
        margin-right: 3%;
    }
}

@media (max-width: 700px) {
    .home-container {
        flex-direction: column;
        .btn-favorite {
            
            z-index: 1;
            text-shadow: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff;
            margin-right: 8px;
            text-align: right;
            top: 7px;
            position: relative;
            // max-height: 40px;
            max-height: 2px;
        }
    }
}
