* {
    font-family: "Lucida Console", Monaco, monospace;
}

$primary: #343a40;
// $primary: #fae596;

.btn {
color: #fff;
  background-color: $primary;
  border: 2px solid $primary;
  cursor: pointer;
  transition: 0.25s ease;

    padding-top: 6px;
    padding-bottom: 6px;

  outline: none;

  &-1:hover {
    border-style: dashed;
  }
  &-2:hover {
    border-radius: 25px;
  }
  &-3:hover {
    color: $primary;
    background-color: transparent;
  }
  &-4:hover {
    box-shadow: 0 6px 18px 0 rgba(#000, 0.1);
    color: $primary;
    border-color: transparent;
    background-color: transparent;
  }
  &-5:hover {
    box-shadow: 0 6px 18px 0 rgba(#000, 0.1);
    transform: translateY(-6px);
  }
  &--transparent {
    color: $primary;
    background-color: transparent;
  }
}



body {
  // overflow: hidden;
  margin: 0;
}